/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

.cdk-virtual-scroll-content-wrapper {
    width: 100%;
}

cdk-virtual-scroll-viewport {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 3px;
}

.dark ::-webkit-scrollbar-thumb {
    background: #4b5563;
}