/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-gray-50: var(--color-zinc-50);
    --color-gray-100: var(--color-zinc-100);
    --color-gray-200: var(--color-zinc-200);
    --color-gray-300: var(--color-zinc-300);
    --color-gray-400: var(--color-zinc-400);
    --color-gray-500: var(--color-zinc-500);
    --color-gray-600: var(--color-zinc-600);
    --color-gray-700: var(--color-zinc-700);
    --color-gray-800: var(--color-zinc-800);
    --color-gray-900: var(--color-zinc-900);
    --color-gray-950: var(--color-zinc-950);
}

.cdk-virtual-scroll-content-wrapper {
    width: 100%;
}

cdk-virtual-scroll-viewport {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 3px;
}

.dark ::-webkit-scrollbar-thumb {
    background: #4b5563;
}

html,
body {
    overflow: hidden;
    overscroll-behavior: none;
    margin: 0;
    height: 100%;
}

.ProseMirror {
    resize: none;
    outline: none;
    min-height: 100%;
    word-break: break-word;
}

.ProseMirror h1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.ProseMirror h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.ProseMirror ul {
    list-style-type: disc;
    padding-left: 1.25rem;
}

/* Light Mode */
.ProseMirror p.is-editor-empty:first-child::before {
    color: var(--color-zinc-400);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

/* Dark Mode */
.dark .ProseMirror p.is-editor-empty:first-child::before {
    color: var(--color-zinc-600);
}

/* Ascundere scrollbar vizual */
.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-none {
    -ms-overflow-style: none;
    /* IE/Edge */
    scrollbar-width: none;
    /* Firefox */
}