/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

.cdk-virtual-scroll-content-wrapper {
    width: 100%;
}

cdk-virtual-scroll-viewport {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 3px;
}

.dark ::-webkit-scrollbar-thumb {
    background: #4b5563;
}

html,
body {
    overflow: hidden;
    overscroll-behavior: none;
    margin: 0;
    height: 100%;
}

.ProseMirror {
    resize: none;
    outline: none;
    min-height: 100%;
    word-break: break-word;
}

.ProseMirror h1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.ProseMirror h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.ProseMirror ul {
    list-style-type: disc;
    padding-left: 1.25rem;
}