<div>
    <button
        class="flex items-center gap-2 w-full px-3 py-2 text-sm text-gray-400 bg-gray-100 rounded-lg hover:bg-gray-200 transition-colors"
        (click)="onOpen()">
        <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-4 flex-shrink-0">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg></span>
        <span>Search</span>
    </button>
</div>
@if (isOpen()) {
<div class="flex fixed inset-0 z-50 bg-black/50 items-center justify-center" (click)="onClose()">
    <div class="bg-white p-4 rounded-xl shadow-2x1 w-1/2 max-w-2xl h-[600px] flex flex-col"
        (click)="$event.stopPropagation()">
        <input #searchInputEl type="text" placeholder="Search" [value]="searchInput()" (input)="onSearch($event)"
            class="w-full px-4 py-2 outline-none border-b border-gray-200 text-sm" />
        @if(searchInput().length){
        <div class="flex-1 overflow-y-auto pt-2">
            @for(note of notesService.filteredNotes(); track note.id ) {
            <div (click)="onSnippetClick(note)"
                class="flex flex-col hover:bg-gray-50 cursor-pointer rounded-lg p-2 border-b border-gray-100 gap-1 transition-colors">
                <p class=" truncate">{{ note.title }}</p>
                <p class="line-clamp-2">{{ note.content | snippet: searchInput() }}</p>
            </div>
            } @empty {
            <div>There are no items.</div>
            }
        </div>
        }
    </div>

</div>
}