<div class="flex flex-col h-full p-6">

    @if(notesService.selectedNote()) {
    <div class="flex flex-col h-full">

        <!-- header -->
        <div class="flex items-center justify-between gap-4 mb-4">
            <!-- back and title -->
            <div class="flex items-center gap-3 flex-1">
                <button
                    class="md:hidden p-2 -ml-2 text-gray-500 rounded-lg hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-800 cursor-pointer"
                    (click)="notesService.selectNote(null)">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                    </svg>
                </button>
                <input type="text" placeholder="Titlu"
                    class="w-full text-xl font-medium bg-transparent border-none outline-none text-gray-900 dark:text-gray-100 dark:placeholder-gray-600"
                    [value]="notesService.selectedNote()?.title ?? ''" (input)="onInputChange($event)" />

            </div>

            <div class="flex items-center gap-2 relative">
                <div class="text-xs text-gray-400 dark:text-gray-500">{{ notesService.selectedNote()?.content |
                    wordCount}} words
                </div>
                <button (click)="$event.stopPropagation(); toggleMenu()" class="cursor-pointer">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
                    </svg>
                </button>
                @if (isMenuOpen()) {
                <div
                    class="absolute top-8 right-0 z-10 w-40 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-lg py-1">
                    <button
                        class="w-full text-left px-4 py-2 text-sm text-red-600 dark:text-red-400 hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors"
                        (click)="softDeleteNote()">
                        Delete
                    </button>
                </div>
                }
            </div>
        </div>

        <textarea placeholder="Scrie ceva..."
            class="flex-1 bg-transparent border-none outline-none resize-none text-gray-700 leading-relaxed dark:text-gray-300 dark:placeholder-gray-600"
            [value]="notesService.selectedNote()?.content ?? ''" (input)="onTextareaChange($event)"></textarea>
    </div>
    } @else {
    <div class="flex flex-col items-center justify-center h-full gap-4">
        <p class="text-sm text-gray-400 dark:text-gray-500">Selecteaza o nota sau creeaza una noua</p>
        <button
            class="px-4 py-2 bg-gray-900 text-white text-sm rounded-lg hover:bg-gray-700 transition-colors dark:bg-gray-800 dark:hover:bg-gray-700 dark:border dark:border-gray-700"
            (click)="addTestNote()">+ Nota noua</button>
    </div>
    }
</div>